<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="1.0" package="com.swanseauni.nptexplorer" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="31" />
	<application android:label="NPT Explorer Mobile App" android:theme="@style/MainTheme" android:icon="@mipmap/ic_launcher">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AI00000000000000000000000000000" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<activity android:name="microsoft.identity.client.BrowserTabActivity" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="msal0000000000000000000000" android:host="auth" />
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-feature android:name="android.hardware.location.location" android:required="false" />
	<uses-feature android:name="android.hardware.location.location.gps" android:required="false" />
	<uses-feature android:name="android.hardware.location.location.network" android:required="false" />
	<queries>
		<intent>
			<action android:name="android.intent.action.SENDTO" />
			<data android:scheme="mailto" />
		</intent>
	</queries>
</manifest>
